// import Poppins
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$pri-color: rgba(199, 51, 54, 255);
$pri-color-hover: rgb(158, 37, 39);

// classes
.active {
  color: $pri-color !important;
}
.pri__color {
  color: $pri-color !important;
}

.btn-pri-color {
  background-color: $pri-color !important;
  color: white !important;
  transition: all 0.3s ease-in-out;

  &:hover {
    // background-color: white !important;
    background-color: $pri-color-hover !important;
  }
}

.hide__bar {
  width: 0 !important;
}

// media queries
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;

// mixins for media queries
@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

// animation
@keyframes expand {
  0% {
  }
  50% {
  }
  100% {
  }
}
