@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  color: rgb(199, 51, 54) !important;
}

.pri__color {
  color: rgb(199, 51, 54) !important;
}

.btn-pri-color {
  background-color: rgb(199, 51, 54) !important;
  color: white !important;
  transition: all 0.3s ease-in-out;
}
.btn-pri-color:hover {
  background-color: rgb(158, 37, 39) !important;
}

.bg-color-card {
  background-color: rgb(25, 25, 25);
}

.hide__bar {
  width: 0 !important;
}

@keyframes expand {}
body.index {
  font-family: "Poppins", sans-serif !important;
  line-height: 2 !important;
  background-color: rgb(25, 25, 25) !important;
  color: whitesmoke !important;
}
body.index .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgba(54, 53, 53, 0.562) !important;
}
body.index .header .left .logo {
  width: 200px;
}
body.index .header .right .menu {
  display: none;
}
body.index .header .right .hamburger__box .hamburger {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
body.index .header .right .hamburger__box .hamburger:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
@media (min-width: 768px) {
  body.index .header {
    padding: 1rem 4rem !important;
  }
  body.index .header .right .menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }
  body.index .header .right .menu li a {
    text-decoration: none;
    color: whitesmoke;
    transition: all 0.5s ease-in-out;
  }
  body.index .header .right .menu li a:hover {
    color: rgb(158, 37, 39);
  }
  body.index .header .right .hamburger {
    display: none;
  }
}
body.index .sidebar {
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  right: 0;
  background-color: rgb(25, 25, 25);
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: whitesmoke;
}
body.index .sidebar .top {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body.index .sidebar .top .bi {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  padding-right: 1rem;
}
body.index .sidebar .top .bi:hover {
  font-size: 3rem;
  margin-right: -0.5rem;
}
body.index .sidebar .bottom {
  justify-self: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .sidebar .bottom .menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
body.index .sidebar .bottom .menu li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.5s ease-in-out;
}
body.index .sidebar .bottom .menu li a:hover {
  color: rgb(158, 37, 39);
  padding-left: 0.3rem;
}
body.index .section {
  min-height: 400px;
}
body.index .section__1 {
  position: relative;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  text-align: center;
  color: white;
}
body.index .section__1 .name {
  font-size: 3rem;
  font-weight: 700;
}
body.index .section__1 .desc {
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
}
body.index .section__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  text-align: center;
  gap: 3rem;
}
body.index .section__2 .title {
  color: rgb(199, 51, 54);
}
body.index .section__2 .desc {
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
  padding: 1rem;
}
@media (min-width: 768px) {
  body.index .section__2 {
    flex-direction: row;
  }
}
body.index .section__3 {
  background-color: rgba(54, 53, 53, 0.562);
}
body.index .section__3 .cards {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 1rem;
}
body.index .section__3 .cards .card {
  max-width: 400px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.5s ease-in-out;
  min-height: 290px;
  background-color: rgb(199, 51, 54);
}
body.index .section__3 .cards .card .icon {
  font-size: 2rem;
  color: white;
}
body.index .section__3 .cards .card:hover {
  transform: scale(1.03);
}
body.index .section__3 .cards .card .title {
  color: rgb(25, 25, 25);
}
body.index .section__4 {
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .section__4 .section__4__box {
  width: 80%;
  max-width: 700px;
  padding: 2rem 0;
}
body.index .section__4 .section__4__box .title {
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  color: rgb(199, 51, 54);
}
body.index .section__4 .section__4__box .sub__title {
  text-align: center;
  font-size: 1.2rem;
}
body.index .section__4 .bottom {
  text-align: center;
}
body.index .section__5 {
  background-color: rgba(54, 53, 53, 0.562);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .section__5 .section__5__box {
  width: 90%;
  max-width: 1100px;
  padding: 2rem 0;
}
body.index .section__5 .section__5__box .title {
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  color: rgb(199, 51, 54);
}
body.index .section__5 .section__5__box .desc__box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  justify-content: center;
  align-items: center;
}
body.index .section__5 .section__5__box .desc__box .desc {
  display: flex;
  gap: 1rem;
  max-width: 500px;
  min-height: 250px;
  background-color: rgb(25, 25, 25);
  padding: 1rem;
  border-radius: 10px;
}
body.index .section__5 .section__5__box .desc__box .desc .left {
  font-size: 2.5rem;
  color: rgb(199, 51, 54);
}
body.index .section__5 .section__5__box .desc__box .desc .right .top {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  color: rgb(199, 51, 54);
}
body.index .section__6 {
  background-color: rgb(25, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .section__6 .section__6__box {
  width: 80%;
  max-width: 700px;
  padding: 2rem 0;
}
body.index .section__6 .section__6__box .title {
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
  color: rgb(199, 51, 54);
}
body.index .section__6 .section__6__box .desc__box {
  width: 90%;
  margin: 0 auto;
}
body.index .section__6 .section__6__box .desc__box .desc {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body.index .section__6 .section__6__box .desc__box .desc .icon {
  font-size: 2.5rem;
  color: rgb(199, 51, 54);
  display: flex;
  justify-content: center;
  align-items: center;
}
body.index .section__7 {
  background-color: rgba(54, 53, 53, 0.562);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
body.index .section__7 .section__7__box {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}
body.index .section__7 .section__7__box .title {
  padding: 1rem;
  font-size: 1.7rem;
  color: rgb(199, 51, 54);
}
body.index .section__7 .section__7__box .contact__icon a {
  font-size: 2rem;
  color: rgb(199, 51, 54) !important;
  transition: all 0.3s ease-in-out;
  display: block;
}
body.index .section__7 .section__7__box .contact__icon a:hover {
  transform: scale(1.2);
}
body.index .footer {
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
body.index .footer .footer__link {
  text-decoration: none;
  color: rgb(199, 51, 54);
  transition: all 0.3s ease-in-out;
}
body.index .footer .footer__link:hover {
  color: rgb(158, 37, 39);
}

body.privacy {
  font-family: "Poppins", sans-serif !important;
  background-color: rgb(25, 25, 25) !important;
  line-height: 2 !important;
  color: whitesmoke;
}
body.privacy header {
  background-color: rgba(54, 53, 53, 0.562);
  padding: 1rem 2rem;
}
body.privacy header .logo {
  width: 200px;
}
body.privacy .main {
  padding: 2rem 0;
}
body.privacy .main .top h2 {
  letter-spacing: 1px;
  text-align: center;
  padding: 1.5rem 0;
  color: rgb(199, 51, 54);
}
body.privacy .main .bottom {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
body.privacy .main .bottom ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style: none;
}
body.privacy .main .bottom ul li::before {
  content: "•";
  color: rgb(199, 51, 54);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
body.privacy .footer {
  background-color: rgba(54, 53, 53, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
body.privacy .footer .footer__link {
  text-decoration: none;
  color: rgb(199, 51, 54);
  transition: all 0.3s ease-in-out;
}
body.privacy .footer .footer__link:hover {
  color: rgb(158, 37, 39);
}

body.terms {
  font-family: "Poppins", sans-serif !important;
  background-color: rgb(25, 25, 25) !important;
  color: whitesmoke;
  line-height: 2 !important;
}
body.terms header {
  background-color: rgba(54, 53, 53, 0.562);
  padding: 1rem 2rem;
}
body.terms header .logo {
  width: 200px;
}
body.terms .main {
  padding: 2rem 0;
}
body.terms .main .top h2 {
  letter-spacing: 1px;
  text-align: center;
  padding: 1.5rem 0;
  color: rgb(199, 51, 54);
}
body.terms .main .bottom {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
body.terms .main .bottom ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  list-style: none;
}
body.terms .main .bottom ul li::before {
  content: "•";
  color: rgb(199, 51, 54);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
body.terms .footer {
  background-color: rgba(54, 53, 53, 0.562);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
body.terms .footer .footer__link {
  text-decoration: none;
  color: rgb(199, 51, 54);
  transition: all 0.3s ease-in-out;
}
body.terms .footer .footer__link:hover {
  color: rgb(158, 37, 39);
}/*# sourceMappingURL=styles.css.map */